body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

/* HOME COMPONENT */

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;
}

.register:before {
  animation: fade-slide-down 2s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)), url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4bbb31a47384880bb5d5c292e4b401d&auto=format&fit=crop&w=1950&q=80')
  no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 z-index: -1;
}

.registerBox {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  width: 500px;
  text-align: center;
  border-top-left-radius: 2.5%;
  border-top-right-radius: 2.5%;
}

.emailInput {
  width: 400px;
}

.usernameInput {
  margin-top: 3%;
  width: 400px;
}

.pwdInput {
  width: 400px;
  padding-bottom: 3%;
  padding-top: 3%;
}

.loginBtnBox {
  padding: 5%;
  background-color: #d9dce0;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* adjusting some classes based on smaller screens */
@media (max-width: 430px) {
  .registerBox {
    width: 250px;
  }
  .emailInput, .usernameInput, .pwdInput {
    width: 150px;
  }
}

/* LOGIN COMPONENT */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;
}

.msgBox {
  padding-top: 5%;
}

/* FEED COMPONENT */
.searchInputBox {
  width: 100%;
  margin: 8px;
}

.img {
  width: 92%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 4%;
  right: 4%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity 0.3s;
}

.likeBtn {
  position: absolute;
   left: 23%;
   bottom: 0;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   border: none;
   cursor: pointer;
   opacity: 0;
   transition: opacity .2s;
   border-radius: 5px;
}

.dislikeBtn {
  position: absolute;
  left: 60%;
  bottom: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s;
  border-radius: 5px;
}

.imgTitleBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.imgTitle {
  color: white;
}

/* make the overlay appear on hover */
.imgBox:hover .overlay {
  opacity: 0.75;
}

/* make the like button appear on hover */
.imgBox:hover .likeBtn {
  opacity: 1;
}

/* make the dislike button appear on hover */
.imgBox:hover .dislikeBtn {
  opacity: 1;
}

/* make the title appear on hover */
.imgBox:hover .imgTitleBox {
  opacity: 1;
}


/* PROFILE COMPONENT */
.gridBox {
  margin: 20px;
}

/* CREATEPOST COMPONENT */
.createPostGrid {
  margin: 100px;
}

/* SUB COMPONENT */
.subBtn {
  width: 60px;
}

.thumbs {
  transition: font-size 0.5s;
}

/* .thumbs:hover {
  font-size: 150%;
} */


/* SUBS COMPONENT */
.followBtn {
  position: absolute;
   right: 0;
   top: 25px;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   border: none;
   cursor: pointer;
   opacity: 0;
   transition: opacity .2s;
   border-radius: 5px;
}

.imgTitleBoxForSub {
  position: absolute;
  top: 40%;
  bottom: 60%;
  left: 0;
  right: 0;
  opacity: 0;
}

/* make the follow button appear on hover */
.imgBox:hover .followBtn {
  opacity: 1;
}

.imgBox:hover .imgTitleBoxForSub {
  opacity: 1;
}

.postBtn {
  color: teal;
}

.makeBigger {
  animation-name: bigger;
  animation-duration: 0.5s;
}

@keyframes bigger {
  0% {
    font-size: 5px;
  }
  25% {
    font-size: 10px;
  }
  50% {
    font-size: 15px;
  }
  75% {
    font-size: 10px;
  }
  100% {
    font-size: 5px;
  }
}
